<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bitoxygen.Testing.Pane" version="1.3.6051.5398" targetFramework="net461" />
  <package id="cmd" version="0.2.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.6.27413" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.QualityTools.Vsip" version="15.6.27413" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.6.27413" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.0.61" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TestPlatform" version="14.0.0.1" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.6.46" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.6.46" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.6.27413" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.32" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net461" />
  <package id="NUnit.Runners" version="3.8.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net461" />
  <package id="PresentationFramework" version="4.6.0" targetFramework="net461" />
  <package id="ReportUnit" version="1.2.1" targetFramework="net461" />
  <package id="Result" version="1.1.1" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.35" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.1" targetFramework="net461" />
  <package id="Selenium.Support" version="3.10.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.10.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.36.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.WaitExtensions" version="1.0.0" targetFramework="net461" />
  <package id="Shipwreck.Phash" version="0.2.2" targetFramework="net461" />
  <package id="Shipwreck.Phash.PresentationCore" version="0.2.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.3.0" targetFramework="net461" />
  <package id="SpecRun.Runner" version="1.7.0" targetFramework="net461" />
  <package id="SpecRun.SpecFlow" version="1.7.0" targetFramework="net461" />
  <package id="SpecRun.SpecFlow.2-3-0" version="1.7.0" targetFramework="net461" />
  <package id="StreamJsonRpc" version="1.3.23" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
  <package id="Tools.Runtime.CompilerServices" version="1.5.4.50001" targetFramework="net461" />
  <package id="WebDriver.Extension" version="0.1.0" targetFramework="net461" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net461" />
</packages>